<div class="container">
    <h5 id="title">201/208: ARU web interface</h5>
    <div class="panel">
      <div class="row">
          <div class="col-md-4" id="navigatie">
            <a href="#">Login</a>
            <a href="#" class="active">Dashboard</a>
            <a href="#">Scheduler</a>
            <a href="#">Settings</a>
          </div>
        
          <div id="main" class="col-md-8">
            <div class="row">
                <button class="col-4" id="btnNog" onclick="loadDoc(0)">nog</button>
                <button class="col-4" id="btnRelay2" onclick="loadDoc(1)">Relay2</button>
                <button class="col-4" id="btnAmaiNi" onclick="loadDoc(2)">amai ni</button>
                <button class="col-4" id="btnStijn" onclick="loadDoc(3)">Stijn</button>
                <button class="col-9" id="btnAll"  onclick="loadDocAll()">ALL</button>
              </div>
          </div>
      </div>
    </div>
</div>
<div id="extra">
  <!-- <button (click)="showLine()" >SEE</button>
    <table>
      <tr *ngFor="let name of lijst">
        <td>
          {{ name }}
        </td>
      </tr>
    </table>
    <div [hidden]="showIt">NOW YOU SEE ME</div> -->


  <!-- to be shown when inside -->
  <div>
      <input placeholder="type the magic word" [(ngModel)]="inputText" />
  </div>
  <!-- to be shown when inside -->
  <div *ngIf="inputText.includes('Hier is de feestje!')">
      Hier is de feestje!
  </div>
</div>
